spring:
  application:
    name: trajet-formateur
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/pfdb
    username: pfuser         # ou 'postgres' selon ton install locale
    password: pfpass         # adapte si besoin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.time_zone: UTC

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
